<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <h1>Usuários cadastrados:</h1>

    <div class="nome-container">
        <a class="botadd" href="/"> Adicionar novo usuário</a>
        <p>
            {{#each nome}}
        <div> <table class="nome-container">
            <tr> <th> {{this.id}}  <span class="bold"> {{this.nome}}  </span>  <br /> <br/>Idade: {{this.idade}}, Localidade: {{this.local}}, Valor: ${{this.doacao}} <th/> </tr> </table>
        </div>
        {{/each}}

    </div>

</body>

</html>